{% extends "layouts/default.html" %}

{% block content %}




<!-- banner start -->
<!-- ================ -->
<div class="banner">

	<!-- slideshow start -->
	<!-- ================ -->
	<div class="slideshow white-bg">

		<!-- slider revolution start -->
		<!-- ================ -->
		<div class="slider-banner-container">
			<div class="slider-banner-2 bullets-with-bg">
				<ul>
					<!-- slide 1 start -->
					<li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on" data-title="Slide 1" class="dark-translucent-bg">
						<!-- main image -->
						<img src="/images/home-cover.png"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

						<!-- LAYER NR. 1 -->
						<div class="tp-caption very_large_text sfl tp-resizeme"
							 data-x="center"
							 data-y="120"
							 data-speed="600"
							 data-start="0">Ledgerd - 跨链交易与支付
						</div>

						<!-- LAYER NR. 2 -->
						<div class="tp-caption small_thin_white sfr text-center tp-resizeme"
							 data-x="center"
							 data-y="200"
							 data-speed="600"
							 data-start="0">Ledgerd是跨链交易和银行间交易的基础设施技术，一个为虚拟金融和实体金融机构及系统服务的中性效用。
						</div>

						<!-- LAYER NR. 3 -->
						<div class="tp-caption tp-resizeme sfl"
							 data-x="center"
							 data-y="300"
							 data-speed="600"
							 data-start="0"><a href="//dl.ledgerd.org/LGD.pdf" target="_blank" class="btn btn-default btn-lg">白皮书</a>
						</div>

					</li>
					<!-- slide 1 end -->
				</ul>
			</div>
		</div>
		<!-- slider revolution end -->

	</div>
	<!-- slideshow end -->

</div>
<!-- banner end -->


<!-- 熟悉Ledgerd -->
<!-- ================ -->
<div class="section clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">熟悉 Ledgerd 网络</h1>
				<div class="separator"></div>
				<p class="lead text-center">Lorem ipsum dolor sit amet laudantium molestias similique.<br> Quisquam incidunt ut laboriosam.</p>
				<br>
				<div class="row">
					<div class="col-md-6">
						<h2 class="title">iDea - Responsive Website Theme</h2>
						<div class="row">
							<div class="col-md-6">
								<img src="images/section-image-1.png" alt="">
							</div>
							<div class="col-md-6">
								<p>Ledgerd是一个开放的，以互联网协议为基础的技术，服务于实体经济结算和区块链跨链交易。实体银行和交易所可以通过分布式网络来进行实时的清算和结账。通过使用Ledgerd，实体银行和交易所可以使更多市场及货币的支付变得更快同时保证低风险，低成本。</p>
							</div>
						</div>
						<p>LGD是一个支付系统的基础设施——Ledgerd本身不是一个支付系统，提供结算、清算的总账以及资金交换技术，以及拥有全球互联的中立交易协议。设计Ledgerd的目的，是让其直接被银行间支付网络的成员、运营商以及流动性供应商使用。</p>
						<div class="space hidden-md hidden-lg"></div>
					</div>
					<div class="col-md-6">
						<div class="panel-group panel-dark" id="accordion">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
											<i class="fa fa-bold"></i>网络节点成员：银行和金融服务业务
										</a>
									</h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
										<div><a href="/validator" class="btn btn-default">节点</a></div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
											<i class="fa fa-leaf"></i>网关运营商：网络支付，票据交换所
										</a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
										<div><a href="/gateway" class="btn btn-default">网关</a></div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
											<i class="fa fa-html5"></i>流动性提供者：中央银行、银行、非银行造市者
										</a>
									</h4>
								</div>
								<div id="collapseThree" class="panel-collapse collapse">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
										<div><a href="/market-maker" class="btn btn-default">做市商</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>
</div>
<!-- section end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container gray-bg">

	<!-- main start -->
	<!-- ================ -->
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center title">优势</h1>
					<div class="separator"></div>
					<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<div class="row">
						<div class="col-sm-4">
							<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
								<i class="fa fa-money"></i>
								<h2>低流动性成本</h2>
								<p>银行在不占用资金不依靠代理银行的情况下，实时结算、不收取任何费用美元汇率，增加了网络连通性。</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
								<i class="fa fa-crosshairs"></i>
								<h2>高透明度和追踪性</h2>
								<p>双边简化了整个交易路径，提高了发送者和接受者的可追溯性，让更多的复杂的交易看上去具有较高的透明度和追踪性。</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
								<i class="fa fa-credit-card"></i>
								<h2>低信用风险</h2>
								<p>降低了银行的中间交易对手风险和清算风险，可以24/7/365无间断清算，净额结算，实时结算(3-5秒)，增加了交易速度和交易量。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- main end -->

</section>
<!-- main-container end -->


<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title text-center">解决方案</h1>
				<div class="separator"></div>
				<!-- page-title end -->

				<div class="row">
					<div class="col-md-6">
						<div class="box-style-3 right animated fadeInUpSmall">
							<div class="icon-container default-bg">
								<i class="fa fa-bold"></i>
							</div>
							<div class="body">
								<h2>LGD Current</h2>
								<p>银行使用 LGD Current 为他们的客户处理全球支付</p>
							</div>
						</div>
						<div class="box-style-3 right animated fadeInUpSmall">
							<div class="icon-container default-bg">
								<i class="fa fa-check"></i>
							</div>
							<div class="body">
								<h2>LGD Rapids</h2>
								<p>支付服务供应商利用 xRapid 寻求按需流动性</p>
							</div>
						</div>
						<div class="box-style-3 right animated fadeInUpSmall">
							<div class="icon-container default-bg">
								<i class="fa fa-bicycle"></i>
							</div>
							<div class="body">
								<h2>LGD Via</h2>
								<p>企业利用 LGDVia，接入 LGDNet，进行付款</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="space hidden-lg hidden-md"></div>
						<img class="animated fadeInUpSmall" src="images/services-1.png" alt="iDea">
					</div>
				</div>
				<div class="space"></div>

			</div>
			<!-- main end -->

		</div>
	</div>
</section>
<!-- main-container end -->

<!-- section start -->
<!-- ================ -->
<div class="section gray-bg text-muted footer-top clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="owl-carousel clients">
					<div class="client">
						<a href="#"><img src="images/client-1.png" alt=""></a>
					</div>
					<div class="client">
						<a href="#"><img src="images/client-2.png" alt=""></a>
					</div>
					<div class="client">
						<a href="#"><img src="images/client-3.png" alt=""></a>
					</div>
					<div class="client">
						<a href="#"><img src="images/client-4.png" alt=""></a>
					</div>
					<div class="client">
						<a href="#"><img src="images/client-5.png" alt=""></a>
					</div>
					<div class="client">
						<a href="#"><img src="images/client-6.png" alt=""></a>
					</div>
					<div class="client">
						<a href="#"><img src="images/client-7.png" alt=""></a>
					</div>
					<div class="client">
						<a href="#"><img src="images/client-8.png" alt=""></a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<blockquote class="inline">
					<p class="margin-clear">Design is not just what it looks like and feels like. Design is how it works.</p>
					<footer><cite title="Source Title">Steve Jobs </cite></footer>
				</blockquote>
			</div>
		</div>
	</div>
</div>
<!-- section end -->

{% endblock %}
