{% extends "layouts/default.html" %}

{% block content %}
<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
					<li class="active">Buttons</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- page-intro end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-9">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 id="buttons" class="page-title">Buttons</h1>
				<br>
				<!-- page-title end -->

				<!-- Buttons start -->
				<!-- ============================================================================== -->
				<h2>Twitter Bootstrap Buttons</h2>
				<div class="space-bottom"></div>
				<h4>Small</h4>
				<a href="#" class="btn btn-default btn-sm">Default</a>
				<a href="#" class="btn btn-primary btn-sm">Primary</a>
				<a href="#" class="btn btn-success btn-sm">Success</a>
				<a href="#" class="btn btn-info btn-sm">Info</a>
				<a href="#" class="btn btn-warning btn-sm">Warning</a>
				<a href="#" class="btn btn-danger btn-sm">Danger</a>
				<br>
				<h4>Medium</h4>
				<a href="#" class="btn btn-default">Default</a>
				<a href="#" class="btn btn-primary">Primary</a>
				<a href="#" class="btn btn-success">Success</a>
				<br>
				<a href="#" class="btn btn-info">Info</a>
				<a href="#" class="btn btn-warning">Warning</a>
				<a href="#" class="btn btn-danger">Danger</a>
				<br>
				<h4>Large</h4>
				<a href="#" class="btn btn-default btn-lg">Default</a>
				<a href="#" class="btn btn-primary btn-lg">Primary</a>
				<a href="#" class="btn btn-success btn-lg">Success</a>
				<a href="#" class="btn btn-info btn-lg">Info</a>
				<a href="#" class="btn btn-warning btn-lg">Warning</a>
				<a href="#" class="btn btn-danger btn-lg">Danger</a>
				<div class="alert alert-info alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					The <strong>Default</strong> color is defined by the current color scheme.
				</div>
				<div class="space"></div>
				<h2>iDea Buttons</h2>
				<br>
				<h4>Small</h4>
				<a href="#" class="btn btn-white btn-sm">White</a>
				<a href="#" class="btn btn-light-gray btn-sm">Light Gray</a>
				<a href="#" class="btn btn-gray btn-sm">Gray</a>
				<a href="#" class="btn btn-dark btn-sm">Dark</a>
				<h4>Medium</h4>
				<a href="#" class="btn btn-white">White</a>
				<a href="#" class="btn btn-light-gray">Light Gray</a>
				<br>
				<a href="#" class="btn btn-gray">Gray</a>
				<a href="#" class="btn btn-dark">Dark</a>
				<h4>Large</h4>
				<a href="#" class="btn btn-white btn-lg">White</a>
				<a href="#" class="btn btn-light-gray btn-lg">Light Gray</a>
				<br>
				<a href="#" class="btn btn-gray btn-lg">Gray</a>
				<a href="#" class="btn btn-dark btn-lg">Dark</a>
				<div class="space"></div>
				<h2>Buttons With Border Radius</h2>
				<br>
				<h4>Small</h4>
				<a href="#" class="btn radius btn-white btn-sm">White</a>
				<a href="#" class="btn radius btn-light-gray btn-sm">Light Gray</a>
				<a href="#" class="btn radius btn-gray btn-sm">Gray</a>
				<a href="#" class="btn radius btn-dark btn-sm">Dark</a>
				<a href="#" class="btn radius btn-default btn-sm">Default</a>
				<a href="#" class="btn radius btn-primary btn-sm">Primary</a>
				<a href="#" class="btn radius btn-success btn-sm">Success</a>
				<a href="#" class="btn radius btn-info btn-sm">Info</a>
				<a href="#" class="btn radius btn-warning btn-sm">Warning</a>
				<a href="#" class="btn radius btn-danger btn-sm">Danger</a>
				<h4>Medium</h4>
				<a href="#" class="btn radius btn-white">White</a>
				<a href="#" class="btn radius btn-light-gray">Light Gray</a>
				<a href="#" class="btn radius btn-gray">Gray</a>
				<a href="#" class="btn radius btn-dark">Dark</a>
				<a href="#" class="btn radius btn-default">Default</a>
				<a href="#" class="btn radius btn-primary">Primary</a>
				<a href="#" class="btn radius btn-success">Success</a>
				<a href="#" class="btn radius btn-info">Info</a>
				<a href="#" class="btn radius btn-warning">Warning</a>
				<a href="#" class="btn radius btn-danger">Danger</a>
				<h4>Large</h4>
				<a href="#" class="btn radius btn-white btn-lg">White</a>
				<a href="#" class="btn radius btn-light-gray btn-lg">Light Gray</a>
				<a href="#" class="btn radius btn-gray btn-lg">Gray</a>
				<a href="#" class="btn radius btn-dark btn-lg">Dark</a>
				<a href="#" class="btn radius btn-default btn-lg">Default</a>
				<a href="#" class="btn radius btn-primary btn-lg">Primary</a>
				<a href="#" class="btn radius btn-success btn-lg">Success</a>
				<a href="#" class="btn radius btn-info btn-lg">Info</a>
				<a href="#" class="btn radius btn-warning btn-lg">Warning</a>
				<a href="#" class="btn radius btn-danger btn-lg">Danger</a>
				<div class="space"></div>
				<h2>Buttons With Icons</h2>
				<br>
				<h4>Small</h4>
				<a href="#" class="btn btn-white btn-sm"><i class="fa fa-chevron-left pr-10"></i> Prev</a>
				<a href="#" class="btn btn-light-gray btn-sm">Next <i class="fa fa-chevron-right pl-10"></i></a>
				<a href="#" class="btn btn-gray btn-sm">Send <i class="fa fa-check pl-10"></i></a>
				<a href="#" class="btn btn-dark btn-sm"><i class="fa fa-lock pr-10"></i> login</a>
				<a href="#" class="btn btn-default btn-sm">Settings <i class="fa fa-cog pl-10"></i></a>
				<a href="#" class="btn btn-primary btn-sm">Save <i class="fa fa-floppy-o pl-10"></i></a>
				<a href="#" class="btn btn-success btn-sm"><i class="fa fa-users pr-10"></i> Our Team</a>
				<a href="#" class="btn btn-info btn-sm">Print <i class="fa fa-print pl-10"></i></a>
				<a href="#" class="btn btn-warning btn-sm">Open <i class="fa fa-folder-open-o pl-10"></i></a>
				<a href="#" class="btn btn-danger btn-sm">Danger <i class="fa fa-warning pl-10"></i></a>
				<h4>Medium</h4>
				<a href="#" class="btn btn-white"><i class="fa fa-chevron-left pr-10"></i> Prev</a>
				<a href="#" class="btn btn-light-gray">Next <i class="fa fa-chevron-right pl-10"></i></a>
				<a href="#" class="btn btn-gray">Send <i class="fa fa-check pl-10"></i></a>
				<a href="#" class="btn btn-dark"><i class="fa fa-lock pr-10"></i> login</a>
				<a href="#" class="btn btn-default">Settings <i class="fa fa-cog pl-10"></i></a>
				<a href="#" class="btn btn-primary">Save <i class="fa fa-floppy-o pl-10"></i></a>
				<a href="#" class="btn btn-success"><i class="fa fa-users pr-10"></i> Our Team</a>
				<a href="#" class="btn btn-info">Print <i class="fa fa-print pl-10"></i></a>
				<a href="#" class="btn btn-warning">Open <i class="fa fa-folder-open-o pl-10"></i></a>
				<a href="#" class="btn btn-danger">Danger <i class="fa fa-warning pl-10"></i></a>
				<h4>Large</h4>
				<a href="#" class="btn btn-white btn-lg"><i class="fa fa-chevron-left pr-10"></i> Prev</a>
				<a href="#" class="btn btn-light-gray btn-lg">Next <i class="fa fa-chevron-right pl-10"></i></a>
				<a href="#" class="btn btn-gray btn-lg">Send <i class="fa fa-check pl-10"></i></a>
				<a href="#" class="btn btn-dark btn-lg"><i class="fa fa-lock pr-10"></i> login</a>
				<a href="#" class="btn btn-default btn-lg">Settings <i class="fa fa-cog pl-10"></i></a>
				<a href="#" class="btn btn-primary btn-lg">Save <i class="fa fa-floppy-o pl-10"></i></a>
				<a href="#" class="btn btn-success btn-lg"><i class="fa fa-users pr-10"></i> Our Team</a>
				<a href="#" class="btn btn-info btn-lg">Print <i class="fa fa-print pl-10"></i></a>
				<a href="#" class="btn btn-warning btn-lg">Open <i class="fa fa-folder-open-o pl-10"></i></a>
				<a href="#" class="btn btn-danger btn-lg">Danger <i class="fa fa-warning pl-10"></i></a>
				<div class="alert alert-info alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
					Check all available Icons:
					<ul class="">
						<li><a target="_blank" href="features-icons-fontawesome.html" class="alert-link">Font Awesome Icons</a></li>
						<li><a target="_blank" href="features-icons-fontello.html" class="alert-link">Fontello Icons</a></li>
						<li><a target="_blank" href="features-icons-glyphicons.html" class="alert-link">Glyphicons Icons</a></li>
					</ul>
				</div>
			</div>
			<!-- main end -->

			<!-- sidebar start -->
			<aside class="col-md-3">
				<div class="sidebar">
					<div class="block clearfix">
						<h3 class="title">Components</h3>
						<div class="separator"></div>
						<nav>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="components-tabs-and-pills.html">Tabs &amp; Pills</a></li>
								<li><a href="components-accordions.html">Accordions</a></li>
								<li><a href="components-social-icons.html">Social icons</a></li>
								<li class="active"><a href="components-buttons.html">Buttons</a></li>
								<li><a href="components-forms.html">Forms</a></li>
								<li><a href="components-progress-bars.html">Progress Bars</a></li>
								<li><a href="components-alerts-and-callouts.html">Alerts &amp; Callouts</a></li>
								<li><a href="components-content-sliders.html">Content Sliders</a></li>
								<li><a href="components-lightbox.html">Lightbox</a></li>
								<li><a href="components-icon-boxes.html">Icon Boxes</a></li>
								<li><a href="components-image-boxes.html">Image Boxes</a></li>
								<li><a href="components-video-and-audio.html">Video and Audio</a></li>
								<li><a href="components-modals.html">Modals</a></li>
								<li><a href="components-animations.html">Animations</a></li>
								<li><a href="components-counters.html">Counters</a></li>
								<li><a href="components-tables.html">Tables</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</aside>
			<!-- sidebar end -->

		</div>
	</div>
</section>
<!-- main-container end -->

{% endblock %}
