{% extends "layouts/default.html" %}

{% block content %}

<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
					<li class="active">Blog Timeline</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- page-intro end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title">Blog Timeline</h1>
				<div class="separator-2"></div>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas nulla suscipit <br class="hidden-sm hidden-xs"> unde rerum mollitia dolorum.</p>
				<!-- page-title end -->

				<div class="row">
					<div class="col-md-10 col-md-offset-1">

						<!-- timeline start -->
						<div class="timeline row">

							<div class="timeline-icon hidden-xs"><i class="fa fa-angle-double-up"></i></div>

							<div class="timeline-date-label clearfix">September 2014</div>

							<!-- timeline item start -->
							<div class="timeline-item object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
								<!-- blogpost start -->
								<article class="clearfix blogpost">
									<div class="overlay-container">
										<img src="/images/blog-2.jpg" alt="">
										<div class="overlay">
											<div class="overlay-links">
												<a href="blog-post.html"><i class="fa fa-link"></i></a>
												<a href="images/blog-1.jpg" class="popup-img-single" title="image title"><i class="fa fa-search-plus"></i></a>
											</div>
										</div>
									</div>
									<div class="blogpost-body">
										<div class="post-info">
											<span class="day">30</span>
											<span class="month">Sept 2014</span>
										</div>
										<div class="blogpost-content">
											<header>
												<h2 class="title"><a href="blog-post.html">Autumn Colors</a></h2>
												<div class="submitted"><i class="fa fa-user pr-5"></i> by <a href="#">John Doe</a></div>
											</header>
											<p>Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
										</div>
									</div>
									<footer class="clearfix">
										<ul class="links pull-left">
											<li><i class="fa fa-comment-o pr-5"></i> <a href="#">22 comments</a> |</li>
											<li><i class="fa fa-tags pr-5"></i> <a href="#">tag 1</a></li>
										</ul>
										<a class="pull-right link" href="blog-post.html"><span>Read more</span></a>
									</footer>
								</article>
								<!-- blogpost end -->
							</div>
							<!-- timeline item end -->

							<!-- timeline item start -->
							<div class="timeline-item pull-right object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
								<!-- blogpost start -->
								<article class="clearfix blogpost">
									<div class="audio-wrapper">
										<iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/106329682&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
									</div>
									<div class="blogpost-body">
										<div class="post-info">
											<span class="day">28</span>
											<span class="month">Sept 2014</span>
										</div>
										<div class="blogpost-content">
											<header>
												<h2 class="title"><a href="blog-post.html">Audio post</a></h2>
												<div class="submitted"><i class="fa fa-user pr-5"></i> by <a href="#">John Doe</a></div>
											</header>
											<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
										</div>
									</div>
									<footer class="clearfix">
										<ul class="links pull-left">
											<li><i class="fa fa-comment-o pr-5"></i> <a href="#">22 comments</a> |</li>
											<li><i class="fa fa-tags pr-5"></i> <a href="#">tag 1</a></li>
										</ul>
										<a class="pull-right link" href="blog-post.html"><span>Read more</span></a>
									</footer>
								</article>
								<!-- blogpost end -->
							</div>
							<!-- timeline item end -->

							<!-- timeline item start -->
							<div class="timeline-item object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
								<!-- blogpost start -->
								<article class="clearfix blogpost">
									<div class="blogpost-body">
										<div class="post-info">
											<span class="day">25</span>
											<span class="month">Sept 2014</span>
										</div>
										<div class="blogpost-content">
											<header>
												<h2 class="title"><a href="blog-post.html">Blogpost with embedded youtube video</a></h2>
												<div class="submitted"><i class="fa fa-user pr-5"></i> by <a href="#">John Doe</a></div>
											</header>
											<p>Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
										</div>
									</div>
									<footer class="clearfix">
										<ul class="links pull-left">
											<li><i class="fa fa-comment-o pr-5"></i> <a href="#">22 comments</a> |</li>
											<li><i class="fa fa-tags pr-5"></i> <a href="#">tag 1</a></li>
										</ul>
										<a class="pull-right link" href="blog-post.html"><span>Read more</span></a>
									</footer>
								</article>
								<!-- blogpost end -->
							</div>
							<!-- timeline item end -->

							<!-- timeline item start -->
							<div class="timeline-item pull-right object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
								<!-- blogpost start -->
								<article class="clearfix blogpost">
									<div class="overlay-container">
										<img src="/images/blog-3.jpg" alt="">
										<div class="overlay">
											<div class="overlay-links">
												<a href="blog-post.html"><i class="fa fa-link"></i></a>
												<a href="images/blog-3.jpg" class="popup-img-single" title="image title"><i class="fa fa-search-plus"></i></a>
											</div>
										</div>
									</div>
									<div class="blogpost-body">
										<div class="post-info">
											<span class="day">20</span>
											<span class="month">Sept 2014</span>
										</div>
										<div class="blogpost-content">
											<header>
												<h2 class="title"><a href="blog-post.html">Augue eleifend dignissim</a></h2>
												<div class="submitted"><i class="fa fa-user pr-5"></i> by <a href="#">John Doe</a></div>
											</header>
											<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
										</div>
									</div>
									<footer class="clearfix">
										<ul class="links pull-left">
											<li><i class="fa fa-comment-o pr-5"></i> <a href="#">22 comments</a> |</li>
											<li><i class="fa fa-tags pr-5"></i> <a href="#">tag 1</a></li>
										</ul>
										<a class="pull-right link" href="blog-post.html"><span>Read more</span></a>
									</footer>
								</article>
								<!-- blogpost end -->
							</div>
							<!-- timeline item end -->

							<!-- timeline item start -->
							<div class="timeline-item object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
								<!-- blogpost start -->
								<article class="clearfix blogpost">
									<div class="blogpost-body">
										<div class="post-info">
											<span class="day">03</span>
											<span class="month">Sept 2014</span>
										</div>
										<div class="blogpost-content">
											<header>
												<h2 class="title"><a href="blog-post.html">Maecenas  ullamcorper commodo</a></h2>
												<div class="submitted"><i class="fa fa-user pr-5"></i> by <a href="#">John Doe</a></div>
											</header>
											<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
										</div>
									</div>
									<footer class="clearfix">
										<ul class="links pull-left">
											<li><i class="fa fa-comment-o pr-5"></i> <a href="#">22 comments</a> |</li>
											<li><i class="fa fa-tags pr-5"></i> <a href="#">tag 1</a></li>
										</ul>
										<a class="pull-right link" href="blog-post.html"><span>Read more</span></a>
									</footer>
								</article>
								<!-- blogpost end -->
							</div>
							<!-- timeline item end -->

							<!-- timeline item start -->
							<div class="timeline-item pull-right object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
								<!-- blogpost start -->
								<article class="clearfix blogpost">
									<div class="overlay-container">
										<img src="/images/blog-4.jpg" alt="">
										<div class="overlay">
											<div class="overlay-links">
												<a href="blog-post.html"><i class="fa fa-link"></i></a>
												<a href="images/blog-1.jpg" class="popup-img-single" title="image title"><i class="fa fa-search-plus"></i></a>
											</div>
										</div>
									</div>
									<div class="blogpost-body">
										<div class="post-info">
											<span class="day">01</span>
											<span class="month">Sept 2014</span>
										</div>
										<div class="blogpost-content">
											<header>
												<h2 class="title"><a href="blog-post.html">Aenean viverra semper</a></h2>
												<div class="submitted"><i class="fa fa-user pr-5"></i> by <a href="#">John Doe</a></div>
											</header>
											<p>Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
										</div>
									</div>
									<footer class="clearfix">
										<ul class="links pull-left">
											<li><i class="fa fa-comment-o pr-5"></i> <a href="#">22 comments</a> |</li>
											<li><i class="fa fa-tags pr-5"></i> <a href="#">tag 1</a></li>
										</ul>
										<a class="pull-right link" href="blog-post.html"><span>Read more</span></a>
									</footer>
								</article>
								<!-- blogpost end -->
							</div>
							<!-- timeline item end -->

							<div class="timeline-date-label clearfix">August 2014</div>

							<!-- timeline item start -->
							<div class="timeline-item object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
								<!-- blogpost start -->
								<article class="clearfix blogpost">
									<div class="overlay-container">
										<img src="/images/blog-1.jpg" alt="">
										<div class="overlay">
											<div class="overlay-links">
												<a href="blog-post.html"><i class="fa fa-link"></i></a>
												<a href="images/blog-1.jpg" class="popup-img-single" title="image title"><i class="fa fa-search-plus"></i></a>
											</div>
										</div>
									</div>
									<div class="blogpost-body">
										<div class="post-info">
											<span class="day">20</span>
											<span class="month">Aug 2014</span>
										</div>
										<div class="blogpost-content">
											<header>
												<h2 class="title"><a href="blog-post.html">Blogpost with image</a></h2>
												<div class="submitted"><i class="fa fa-user pr-5"></i> by <a href="#">John Doe</a></div>
											</header>
											<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
										</div>
									</div>
									<footer class="clearfix">
										<ul class="links pull-left">
											<li><i class="fa fa-comment-o pr-5"></i> <a href="#">22 comments</a> |</li>
											<li><i class="fa fa-tags pr-5"></i> <a href="#">tag 1</a></li>
										</ul>
										<a class="pull-right link" href="blog-post.html"><span>Read more</span></a>
									</footer>
								</article>
								<!-- blogpost end -->
							</div>
							<!-- timeline item end -->

							<!-- timeline item start -->
							<div class="timeline-item object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
								<!-- blogpost start -->
								<article class="clearfix blogpost">
									<div class="blogpost-body">
										<div class="post-info">
											<span class="day">05</span>
											<span class="month">Aug 2014</span>
										</div>
										<div class="blogpost-content">
											<header>
												<h2 class="title"><a href="blog-post.html">Nunc interdum mi neque</a></h2>
												<div class="submitted"><i class="fa fa-user pr-5"></i> by <a href="#">John Doe</a></div>
											</header>
											<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
										</div>
									</div>
									<footer class="clearfix">
										<ul class="links pull-left">
											<li><i class="fa fa-comment-o pr-5"></i> <a href="#">22 comments</a> |</li>
											<li><i class="fa fa-tags pr-5"></i> <a href="#">tag 1</a></li>
										</ul>
										<a class="pull-right link" href="blog-post.html"><span>Read more</span></a>
									</footer>
								</article>
								<!-- blogpost end -->
							</div>
							<!-- timeline item end -->

						</div>
						<!-- timeline end -->

						<div class="text-center">
							<a href="#" class="btn btn-default">Load more</a>
						</div>

					</div>
				</div>

			</div>
			<!-- main end -->

		</div>
	</div>
</section>
<!-- main-container end -->

{% endblock %}
