{% extends "layouts/default.html" %}

{% block content %}

<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
					<li class="active">Testimonials</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- page-intro end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-8 col-md-offset-2">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 id="testimonials" class="page-title">Testimonials</h1>
				<br>
				<!-- page-title end -->

				<!-- Testimonials start -->
				<!-- ============================================================================== -->
				<blockquote>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci debitis, cupiditate delectus in consequatur, culpa unde soluta, ducimus dicta blanditiis voluptas rerum ipsa omnis vero ad tempora saepe tempore neque!</p>
					<footer><cite title="Source Title">Lorem Famous </cite></footer>
				</blockquote>
				<br>
				<blockquote class="inline">
					<p class="margin-clear">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci debitis, cupiditate delectus in consequatur, culpa unde soluta, ducimus dicta!</p>
					<footer><cite title="Source Title">Lorem Famous </cite></footer>
				</blockquote>
				<div class="space"></div>
				<div class="testimonial clearfix">
					<h2 class="title">Just Perfect!</h2>
					<div class="testimonial-image">
						<img src="images/testimonial-1.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
					</div>
					<div class="testimonial-body">
						<p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore laud antium,  totam rem dolor sit amet tristique pulvinar, turpis arcu rutrum nunc, ac laoreet turpis augue a justo.</p>
						<div class="testimonial-info-1">- Jane Doe</div>
						<div class="testimonial-info-2">By Company</div>
					</div>
				</div>
				<hr>
				<div class="space-bottom"></div>
				<div class="well">
					<div class="testimonial clearfix">
						<div class="testimonial-image">
							<img src="images/testimonial-2.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
						</div>
						<div class="testimonial-body">
							<h2 class="title">WoW</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eveniet, nihil repellat temporibus! Vitae veniam neque atque autem vel fugit aspernatur perferendis sunt, voluptatum debitis! Nemo aut, itaque officiis assumenda.</p>
							<div class="testimonial-info-1">- John Doe</div>
							<div class="testimonial-info-2">By Company</div>
						</div>
					</div>
				</div>
				<div class="space-bottom"></div>
				<div class="default-bg text-muted clearfix pr-20 pl-20">
					<div class="testimonial clearfix">
						<div class="testimonial-image">
							<img src="images/testimonial-3.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
						</div>
						<div class="testimonial-body">
							<h2 class="title">Thanks!</h2>
							<p>Laboriosam eius, delectus reiciendis fugit totam, doloremque ut ipsa vel id tempora quaerat facere, quo fugiat perferendis incidunt iusto ea doloribus! Quaerat, minus.</p>
							<div class="testimonial-info-1">- Jane Doe</div>
							<div class="testimonial-info-2">By Company</div>
						</div>
					</div>
				</div>
				<div class="space"></div>
				<div class="dark-bg text-muted clearfix pr-20 pl-20">
					<div class="testimonial clearfix">
						<div class="testimonial-image">
							<img src="images/testimonial-1.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
						</div>
						<div class="testimonial-body">
							<h2 class="title">Great!</h2>
							<p>Ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nulla quae dolores, unde eos laboriosam ea tenetur omnis laborum a libero rem similique mollitia qui repellat quod veniam porro aspernatur.</p>
							<div class="testimonial-info-1">- Anne Doe</div>
							<div class="testimonial-info-2">By Company</div>
						</div>
					</div>
				</div>
				<div class="space"></div>
				<div class="row">
					<div class="col-md-6">
						<div class="testimonial clearfix">
							<div class="testimonial-body">
								<h2 class="title">Lorem Ipsum!</h2>
								<p>Ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nulla quae dolores, unde eos laboriosam ea tenetur omnis..</p>
								<div class="testimonial-info-1">- Anne Doe</div>
								<div class="testimonial-info-2">By Company</div>
								<hr>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="testimonial gray-bg">
							<div class="testimonial-body">
								<h2 class="title">Lorem Ipsum!</h2>
								<p>Ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nulla quae dolores, unde eos laboriosam ea tenetur omnis..</p>
								<div class="testimonial-info-1">- Anne Doe</div>
								<div class="testimonial-info-2">By Company</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="testimonial default-bg text-muted">
							<div class="testimonial-body">
								<h2 class="title">Lorem Ipsum!</h2>
								<p>Ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nulla quae dolores, unde eos laboriosam ea tenetur omnis..</p>
								<div class="testimonial-info-1">- Anne Doe</div>
								<div class="testimonial-info-2">By Company</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="testimonial dark-bg text-muted">
							<div class="testimonial-body">
								<h2 class="title">Lorem Ipsum!</h2>
								<p>Ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nulla quae dolores, unde eos laboriosam ea tenetur omnis..</p>
								<div class="testimonial-info-1">- Anne Doe</div>
								<div class="testimonial-info-2">By Company</div>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="owl-carousel content-slider">
					<div class="testimonial clearfix">
						<h2 class="title">Testimonial Slider without controls (Autoplay on)</h2>
						<div class="testimonial-image">
							<img src="images/testimonial-1.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
						</div>
						<div class="testimonial-body">
							<p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore laud antium,  totam rem dolor sit amet tristique pulvinar, turpis arcu rutrum nunc, ac laoreet turpis augue a justo.</p>
							<div class="testimonial-info-1">- Jane Doe</div>
							<div class="testimonial-info-2">By Company</div>
						</div>
						<hr>
					</div>
					<div class="testimonial clearfix">
						<h2 class="title">Testimonial Slider without controls (Autoplay on)</h2>
						<div class="testimonial-image">
							<img src="images/testimonial-2.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
						</div>
						<div class="testimonial-body">
							<p>Turpis arcu rutrum nunc, ac laoreet turpis augue a justo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, esse, animi maxime voluptate tempore at sunt labore incidunt nulla dignissimos iusto ad similique inventore distinctio quam repellendus itaque minus minima.</p>
							<div class="testimonial-info-1">- John Doe</div>
							<div class="testimonial-info-2">By Company</div>
						</div>
						<hr>
					</div>
					<div class="testimonial clearfix">
						<h2 class="title">Testimonial Slider without controls (Autoplay on)</h2>
						<div class="testimonial-image">
							<img src="images/testimonial-3.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
						</div>
						<div class="testimonial-body">
							<p>Phosfluorescently e-enable adaptive synergy for strategic quality vectors. Continually transform fully tested expertise with competitive technologies ac laoreet turpis augue a justo.</p>
							<div class="testimonial-info-1">- John Doe</div>
							<div class="testimonial-info-2">By Company</div>
						</div>
						<hr>
					</div>
				</div>
				<br>
				<div class="owl-carousel content-slider-with-controls-bottom">
					<div class="testimonial clearfix">
						<h2 class="title">Testimonial Slider with controls (Autoplay off)</h2>
						<div class="testimonial-image">
							<img src="images/testimonial-1.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
						</div>
						<div class="testimonial-body">
							<p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore laud antium,  totam rem dolor sit amet tristique pulvinar, turpis arcu rutrum nunc, ac laoreet turpis augue a justo.</p>
							<div class="testimonial-info-1">- Jane Doe</div>
							<div class="testimonial-info-2">By Company</div>
						</div>
						<hr>
					</div>
					<div class="testimonial clearfix">
						<h2 class="title">Testimonial Slider with controls (Autoplay off)</h2>
						<div class="testimonial-image">
							<img src="images/testimonial-2.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
						</div>
						<div class="testimonial-body">
							<p>Turpis arcu rutrum nunc, ac laoreet turpis augue a justo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, esse, animi maxime voluptate tempore at sunt labore incidunt nulla dignissimos iusto ad similique inventore distinctio quam repellendus itaque minus minima.</p>
							<div class="testimonial-info-1">- John Doe</div>
							<div class="testimonial-info-2">By Company</div>
						</div>
						<hr>
					</div>
					<div class="testimonial clearfix">
						<h2 class="title">Testimonial Slider with controls (Autoplay off)</h2>
						<div class="testimonial-image">
							<img src="images/testimonial-3.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
						</div>
						<div class="testimonial-body">
							<p>Phosfluorescently e-enable adaptive synergy for strategic quality vectors. Continually transform fully tested expertise with competitive technologies ac laoreet turpis augue a justo.</p>
							<div class="testimonial-info-1">- John Doe</div>
							<div class="testimonial-info-2">By Company</div>
						</div>
						<hr>
					</div>
				</div>
			</div>
			<!-- main end -->

		</div>
	</div>
</section>
<!-- main-container end -->

<!-- section start -->
<!-- ================ -->
<div class="section gray-bg clearfix">
	<div class="owl-carousel content-slider">
		<div class="testimonial">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="title">Full Width Testimonial Slider (Autoplay On)</h2>
						<div class="testimonial-image">
							<img src="images/testimonial-1.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
						</div>
						<div class="testimonial-body">
							<p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore laud antium,  totam rem dolor sit amet tristique pulvinar, turpis arcu rutrum nunc, ac laoreet turpis augue a justo.</p>
							<div class="testimonial-info-1">- Jane Doe</div>
							<div class="testimonial-info-2">By Company</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="testimonial">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="title">Full Width Testimonial Slider (Autoplay On)</h2>
						<div class="testimonial-image">
							<img src="images/testimonial-2.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
						</div>
						<div class="testimonial-body">
							<p>Turpis arcu rutrum nunc, ac laoreet turpis augue a justo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, esse, animi maxime voluptate tempore at sunt labore incidunt nulla dignissimos iusto ad similique inventore distinctio quam repellendus itaque minus minima.</p>
							<div class="testimonial-info-1">- John Doe</div>
							<div class="testimonial-info-2">By Company</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="testimonial">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="title">Full Width Testimonial Slider (Autoplay On)</h2>
						<div class="testimonial-image">
							<img src="images/testimonial-3.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
						</div>
						<div class="testimonial-body">
							<p>Phosfluorescently e-enable adaptive synergy for strategic quality vectors. Continually transform fully tested expertise with competitive technologies ac laoreet turpis augue a justo.</p>
							<div class="testimonial-info-1">- John Doe</div>
							<div class="testimonial-info-2">By Company</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- section end -->

{% endblock %}
