{% extends "layouts/default.html" %}

{% block content %}

<!-- banner start -->
<div class="banner section white-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="images/section-image-5.png" alt="" class="object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="0">
			</div>
			<div class="col-md-6">
				<br>
				<h1 class="object-non-visible" data-animation-effect="fadeInRight" data-effect-delay="200">钱包 - 管理您的LGD资产</h1>
				<br>
				<div class="box-style-3 object-non-visible" data-animation-effect="fadeInRight" data-effect-delay="400">
					<div class="icon-container default-bg">
						<i class="fa fa-laptop"></i>
					</div>
					<div class="body">
						<h2>多平台</h2>
						<p>支持桌面版和移动版主流运行平台</p>
					</div>
				</div>
				<div class="box-style-3 object-non-visible" data-animation-effect="fadeInRight" data-effect-delay="600">
					<div class="icon-container default-bg">
						<i class="fa fa-paper-plane-o"></i>
					</div>
					<div class="body">
						<h2>轻量级</h2>
						<p>钱包客户端无需下载全部数据</p>
					</div>
				</div>
				<div class="box-style-3 object-non-visible" data-animation-effect="fadeInRight" data-effect-delay="800">
					<div class="body">
						<a class="btn btn-primary btn-lg" href="{{agent.link}}">
							<p><i class="{{agent.icon}}" style="font-size: 50px;"></i></p>
							<div>下载钱包 {{agent.text}}-0.4.1</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- banner end -->


<!-- section start -->
<!-- ================ -->
<div class="section gray-bg ">

	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<h2 id="wallet-more">桌面版钱包</h2>
				<div class="separator-2"></div>
				<p>支持Windows、Mac和Linux，也可从桌面版源代码编译</p>
				<div class="row grid-space-20">
					<div class="col-md-3">
						<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="300">
							<div class="overlay-container" style="text-align: center;">
								<i class="fa fa-windows" style="font-size: 90px; margin: 15px 0 5px;"></i>
								<h3>Windows</h3>
								<a href="http://dl.ledgerd.org/ledgerd-wallet-win32-0.4.1.zip" class="overlay">
									<i class="fa fa-cloud-download" style="font-size: 40px;"></i>
									<span>wallet-win32-0.4.1</span>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="200">
							<div class="overlay-container" style="text-align: center;">
								<i class="fa fa-apple" style="font-size: 90px; margin: 15px 0 5px;"></i>
								<h3>Mac OSX</h3>
								<a href="http://dl.ledgerd.org/ledgerd-wallet-osx64-0.4.1.zip" class="overlay">
									<i class="fa fa-cloud-download"></i>
									<span>wallet-osx64-0.4.1</span>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="100">
							<div class="overlay-container" style="text-align: center;">
								<i class="fa fa-linux" style="font-size: 90px; margin: 15px 0 5px;"></i>
								<h3>Linux</h3>
								<a href="http://dl.ledgerd.org/ledgerd-wallet-linux64-0.4.1.zip" class="overlay">
									<i class="fa fa-cloud-download"></i>
									<span>wallet-linux64-0.4.1</span>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="100">
							<div class="overlay-container" style="text-align: center;">
								<i class="fa fa-github" style="font-size: 90px; margin: 15px 0 5px;"></i>
								<h3>Desktop Code</h3>
								<a href="https://github.com/ledgerd/ledgerd-wallet" class="overlay">
									<i class="fa fa-cloud-download"></i>
									<span>source code for desktop</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<h2>移动版钱包</h2>
				<div class="separator-2"></div>
				<p>支持Android和iPhone，或直接从移动版源代码编译</p>
				<div class="row grid-space-20">
					<div class="col-md-4">
						<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="300">
							<div class="overlay-container" style="text-align: center;">
								<i class="fa fa-android" style="font-size: 90px; margin: 15px 0 5px;"></i>
								<h3>Android</h3>
								<a href="http://dl.ledgerd.org/Ledgerd.apk" class="overlay">
									<i class="fa fa-cloud-download" style="font-size: 40px;"></i>
									<span>wallet-android-0.0.1</span>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="200">
							<div class="overlay-container" style="text-align: center;">
								<i class="fa fa-mobile" style="font-size: 90px; margin: 15px 0 5px;"></i>
								<h3>iPhone</h3>
								<a href="http://dl.ledgerd.org/Ledgerd.ipa" class="overlay">
									<i class="fa fa-cloud-download"></i>
									<span>wallet-iphone-0.0.1</span>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="100">
							<div class="overlay-container" style="text-align: center;">
								<i class="fa fa-github" style="font-size: 90px; margin: 15px 0 5px;"></i>
								<h3>Mobile Code</h3>
								<a href="https://github.com/ledgerd/ledgerd-wallet-mobile" class="overlay">
									<i class="fa fa-cloud-download"></i>
									<span>source code for mobile</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- section end -->


<!-- 领取LGD -->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="main col-md-12">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title text-center" id="get-lgd">领取LGD币</h1>
				<div class="separator"></div>

				<!-- Tabs start -->
				<!-- ================ -->
				<div class="vertical">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#vtab1" role="tab" data-toggle="tab"><i class="fa fa-magic pr-10"></i> 在线领取</a></li>
						<li><a href="#vtab2" role="tab" data-toggle="tab"><i class="fa fa-exchange pr-10"></i> 交易所领取</a></li>
						<li><a href="#vtab3" role="tab" data-toggle="tab"><i class="fa fa-gamepad pr-10"></i> 游戏领取</a></li>
						<li><a href="#vtab4" role="tab" data-toggle="tab"><i class="fa fa-file-o pr-10"></i> 成为合作伙伴</a></li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content" style="width: 100%">
						<div class="tab-pane fade in active" id="vtab1">
							<h2 class="title">在线领取</h2>
							<ul class="list-icons">
								<li><i class="icon-check pr-10"></i> 填写钱包地址在线领取100LGD</li>
								<li><i class="icon-check pr-10"></i> 同一LGD地址只能领取一次</li>
								<li><i class="icon-check pr-10"></i> 同一个IP地址每天只能领取一次</li>
							</ul>
							<form role="form" id="formGetLGD" method="post" novalidate="novalidate" action="/get-lgd">
								<div class="form-group">
									<label for="inputAddress">钱包地址</label>
									<input type="text" class="form-control" id="inputAddress" name="address"
										   placeholder="L开头的钱包地址" required="required" minlength="34" maxlength="34">
									<div id="inputAddress-remote"></div>
								</div>
								<button type="submit" class="btn btn-default">领取</button>
							</form>

						</div>
						<div class="tab-pane fade" id="vtab2">
							<h2 class="title">交易所领取</h2>
							<ul class="list-icons">
								<li><i class="icon-check pr-10"></i> 注册成为交易所用户，领取1000LGD</li>
								<li><i class="icon-check pr-10"></i> 可在交易所自由买卖LGD</li>
								<li><i class="icon-check pr-10"></i> 可转出转入LGD币到交易所交易</li>
							</ul>
							<p>合作交易所陆续增加中...</p>
							<a href="https://www.cointude.com" target="_blank" class="btn btn-default">币通点对点交易</a>
						</div>
						<div class="tab-pane fade" id="vtab3">
							<h2 class="title">游戏领取</h2>
							<ul class="list-icons">
								<li><i class="icon-check pr-10"></i> 通过游戏领取500LGD</li>
								<li><i class="icon-check pr-10"></i> 可通过LGD购买游戏宠物</li>
								<li><i class="icon-check pr-10"></i> 通过宠物配对繁殖孵化，出售赚取LGD</li>
								<li><i class="icon-check pr-10"></i> 限量1000只第0代神兽蛋</li>
							</ul>
							<p>期待与您合作开发更多游戏，欢迎体验神兽游戏赚LGD币</p>
							<a href="http://egg.cointude.com" target="_blank" class="btn btn-default">神兽蛋</a>
						</div>
						<div class="tab-pane fade" id="vtab4">
							<h2 class="title">合作伙伴赠送</h2>
							<ul class="list-icons">
								<li><i class="icon-check pr-10"></i> 加入节点最多可领取500万LGD</li>
								<li><i class="icon-check pr-10"></i> 成为网关、做市商联系社区领取</li>
								<li><i class="icon-check pr-10"></i> 为社区做出贡献的伙伴，按提案预算领取</li>
							</ul>
							<p>节点、网关、做市商是构成Ledgerd跨链网络并为网络提供足够流动性的重要组成。将有20亿（总数100亿）LGD币通过此形式分发。</p>
							<a href="/validator" class="btn btn-default">节点</a>
							<a href="/gateway" class="btn btn-default">网关</a>
							<a href="/market-maker" class="btn btn-default">做市商</a>
						</div>
					</div>
				</div>
				<!-- tabs end -->
			</div>
		</div>
	</div>
</section>

{% endblock %}

{% block js %}
<script>
	jQuery.extend(jQuery.validator.messages, {
		required: "必选字段",
		maxlength: jQuery.validator.format("请输入一个 长度最多是 {0} 的字符串"),
		minlength: jQuery.validator.format("请输入一个 长度最少是 {0} 的字符串"),
	});
	$(document).ready(function () {
		$('#formGetLGD').validate({
			submitHandler : function(form) {  //验证通过后的执行方法
				$('#inputAddress-error').text('发送中...');
				$('#inputAddress-error').show();
				$(form).ajaxSubmit({
					dataType:"json",
					success:function( res ){
						if(res.error){
							$('#inputAddress-error').removeClass('text-success').addClass('text-danger').text(res.message);
							$('#inputAddress-error').show();
						}else{
							$('#inputAddress-error').removeClass('text-danger').addClass('text-success').text(res.message);
							$('#inputAddress-error').show();
						}
					}
				});
			},
			errorElement : "div",
			errorClass : "text-danger",
		})
	})
</script>
{% endblock %}
